.game-tile-container {
  position: absolute;
  background-color: #ccf;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.game-tile {
  position: absolute;
  background-color: #fcc;
  width: 100px;
  height: 100px;
  transition: all 400ms ease-in-out;
}
