.game-container {
  position: relative;
  width: 500px;
  height: 500px;
  box-sizing: content-box;
  border: 20px solid #000;
}

.game-tile-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: all 300ms ease-in-out;
  background-color: #0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-tile-overlay:hover {
  background-color: #0006;
}

.game-tile-overlay > h2 {
  opacity: 0;
  transition: all 300ms ease-in-out;
  padding: 8px 0 12px;
  color: #fff;
  background: #000;
}
.game-tile-overlay:hover > h2 {
  opacity: 1;
}

.game-tile-container {
  position: absolute;
  width: 500px;
  height: 500px;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 40%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 90%, rgba(0,0,0,1) 100%);
  background: linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 10%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 60%, rgba(0,0,0,1) 100%);

  background: linear-gradient(-45deg, #f0f 0%, #88f 10%, #f0f 50%, #88f 60%, #f0f 100%);
  background-size: 200% 200%;
  animation: Gradient 2s linear infinite;
}

.game-tile {
  position: absolute;
  background-color: #fcc;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-width: 0px;
  border-style: solid;
  border-top-color: hsl(0, 0%, 98%);
  border-left-color: hsl(0, 0%, 93%);
  border-bottom-color: hsla(0, 0%, 22%, 1);
  border-right-color: hsla(0, 0%, 14%, 1);
  transition: all 300ms ease-in-out, z-index 0ms linear,
    border 200ms ease-in-out;
}

.game-tile > div {
  position: absolute;
  margin: 0;
  width: 30%;
  height: 30%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-tile > div:first-of-type {
  top: 0;
  left: 0;
  /* padding: 2px 17px 13px 6px; */
  background-color: #fff;
  clip-path: circle(80% at 3% 3%);
}
.game-tile > div > p {
  height: 0;
  width: 0;
  line-height: 0;
  position: relative;
}
.game-tile > div:first-of-type > p {
  top: -25%;
  left: -50%;
}
.game-tile > div:last-of-type > p {
  top: 25%;
  right: -10%;
}
.game-tile > div:last-of-type {
  right: 0;
  bottom: 0;
  clip-path: circle(80% at 97% 97%);
  background-color: #000;
  color: #fff;
}

@keyframes Gradient {
  0% {
    background-position: 0% 0%;
  }
  /* 50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  } */
  100% {
    background-position: 100% 100%;
  }
}
